<!-- <p>Ethan's Comp1 works!</p> -->
 <div class="container my-4 border border-1 bg-primary-subtle">
    <div class="px-4 py-5 my-5 text-center">
        <!-- <img class="d-block mx-auto mb-4" src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fstock.adobe.com%2Fsearch%3Fk%3Dwelcome&psig=AOvVaw3B5pSljSvOsudNoMwfnedr&ust=1732762777384000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCNjz7MXC-4kDFQAAAAAdAAAAABAE" alt="" width="72" height="57"> -->
        <h1 class="display-5 fw-bold text-body-emphasis">This is Component 1</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">This component is made using bootstrap and is integrated into Angular.js</p>
          <!-- <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
          </div> -->
        </div>
      </div>
 </div>
